<div class="flex justify-center items-center">
    <div class="w-4/5 flex flex-col gap-4">
        <div class="flex flex-col items-center px-4 pb-16 pt-32 gap-8">
            <h2 class="font-bold text-6xl">Here's how in three simple steps</h2>
        </div>
        <div class="flex justify-center items-center">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-4/5">
            <div class="flex flex-col bg-blue-500 p-8 rounded-2xl shadow-xl text-white">
                <div class="flex justify-between items-center">
                    <p class="text-4xl font-semibold">Spread the word</p>
                    <p class="text-[8em] font-[600] text-white">1</p>
                </div>
                <div class="text-lg text-white">
                    Talk to a 24/7 GP or counsellor and claim back for your dental check-up, eye-test, physio, and more.
                </div>
            </div>
            <div class="flex flex-col bg-blue-600 p-8 rounded-2xl shadow-xl text-white">
                <div class="flex justify-between items-center">
                    <p class="text-4xl font-semibold">Receive discount</p>
                    <p class="text-[8em] font-[600] text-white">2</p>
                </div>
                <div class="text-lg">
                    Talk to a 24/7 GP or counsellor and claim back for your dental check-up, eye-test, physio, and more.
                </div>
            </div>
            <div class="flex flex-col bg-blue-700 p-8 rounded-2xl shadow-xl text-white">
                <div class="flex justify-between items-center">
                    <p class="text-4xl font-semibold">Stay<br> healthy</p>
                    <p class="text-[8em] font-[600] text-white">3</p>
                </div>
                <div class="text-lg">
                    Talk to a 24/7 GP or counsellor and claim back for your dental check-up, eye-test, physio, and more.
                </div>
            </div>
        </div>
        </div>

        <div class="flex flex-col justify-center items-center py-8 gap-8">
            <div>
                <a href="mailto:?subject=Want%20rewarding%20healthcare%20and%20%C2%A320%3F&amp;body=Hi%2C%0A%0AI%20have%20a%20plan%20with%20My%20Medyk%20Plan%20and%20I%E2%80%99d%20love%20for%20you%20to%20join%20me!%20Good%20health%20should%20be%20shared.%0A%0AIt%E2%80%99s%20so%20easy%20to%20sign%20up%2C%20you%20just%20need%20to%20visit%20https%3A%2F%2Fwww.my-medyk-plan.co.uk%2Fsign-up%20and%20use%20my%20subscription%20number%20%3A%3CENTER%20YOUR%20SUBSCRIPTION%20NUMBER%3E.%0A%0AAs%20a%20thank%20you%2C%20we%E2%80%99ll%20both%20get%20a%20%C2%A320%20online%20shopping%20voucher%20when%20you%20take%20out%20a%20plan%2C%20all%20whilst%20receiving%20great%20benefits%20to%20better%20our%20health.%20Lucky%20us!%0A%0AThanks%0A"
                   class="mt-4 bg-indigo-200 py-4 px-8 rounded-3xl text-lg font-semibold hover:bg-emerald-700 hover:text-white hover:cursor-pointer inline-flex items-center justify-center transition duration-300 ease-in-out">
                    Invite my friends
                    <svg class="h-7 w-14 ml-2 transition-transform transform arrow-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 9 22 6" stroke="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="3" d="M4 12h14m-4-4l4 4-4 4"></path>
                    </svg>
                </a>
            </div>
            <div>
                <p class="p-4 text-lg font-light">And our profit supports health charities, benefiting communities throughout the UK.</p>
            </div>
        </div>
    </div>
</div>