<div class="flex justify-center items-center font-light">
    <div class="w-4/5 flex flex-col gap-4">
        <div class="flex flex-col items-center px-4 py-16 gap-8">
            <h2 class="font-bold text-6xl">Trusted by thousands patients</h2>
            <p class="font-light text-2xl">We’ve been helping our members with affordable healthcare for over 15 years.</p>
            <img class="w-1/4" src="{{ url_for('static', filename='images/google-reviews.png') }}" alt="">
        </div>


        {% if isSingular %}
            <div class="flex justify-center items-center">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-4/5">
                    <div class="flex flex-col bg-emerald-300 p-8 rounded-2xl shadow-xl gap-2">
                        <div class="flex justify-between items-center">
                            <img width="128" height="64" src="{{ url_for('static', filename='images/google_reviews.png') }}" alt="">
                        </div>
                        <div class="text-xl">
                            I recently had my wisdom teeth removed at My Medyk Hanger Lane. I was very anxious but I'm glad to say it all went very smoothly. Thank you to Dr Carlos Stankiewicz and the team who were very caring and professional. I highly recommend!
                        </div>
                        <div class="py-4">
                            <div>
                                <p class="font-bold">Magda W</p>
                                <p>Google Review</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col bg-emerald-300 p-8 rounded-2xl shadow-xl gap-2">
                        <div class="flex justify-between items-center">
                            <img width="128" height="64" src="{{ url_for('static', filename='images/google_reviews.png') }}" alt="">
                        </div>
                        <div class="text-xl">
                           I highly recommend this clinic, especially dr Kuleta, who is such a professionalist and friendly person. He always gives thorough answers to all the questions and makes appointments very comfortable. The reception staff is very nice too, always ready to help and accommodating. I'm happy that I found this place and I recommend its services to everyone.
                        </div>
                        <div class="py-4">
                            <div>
                                <p class="font-bold">Kasia B</p>
                                <p>Google Review</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col bg-emerald-300 p-8 rounded-2xl shadow-xl gap-2">
                        <div class="flex justify-between items-center">
                        <img width="128" height="64" src="{{ url_for('static', filename='images/google_reviews.png') }}" alt="">
                    </div>
                        <div class="text-xl">
                        I felt very well informed and at ease with the dentist. She told me exactly what I need to do in order to work on my health. Would recommend!
                    </div>
                        <div class="py-4">
                        <div>
                            <p class="font-bold">Alicja Rz</p>
                            <p>Google Review</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- Non-trusted content or alternative content here -->
            <div class="flex justify-center items-center">
                <div class="grid grid-cols-1 md:grid-cols-1 gap-8 w-4/5">
                    <div class="flex flex-col p-8 rounded-2xl shadow-xl gap-2 text-black">
                        <div class="flex justify-between items-center">
                        <img width="128" height="64" src="{{ url_for('static', filename='images/google_reviews.png') }}" alt="">
                    </div>
                        <div class="text-2xl">
                        I felt very well informed and at ease with the dentist. She told me exactly what I need to do in order to work on my health. Would recommend!
                    </div>
                        <div class="py-4">
                        <div>
                            <p class="font-bold">Alicja Rz</p>
                            <p>Google Review</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="flex justify-center items-center py-8">
            {% if request.path == "/member-portal/refer-a-friend" %}
                <a href="mailto:?subject=Want%20rewarding%20healthcare%20and%20%C2%A320%3F&amp;body=Hi%2C%0A%0AI%20have%20a%20plan%20with%20My%20Medyk%20Plan%20and%20I%E2%80%99d%20love%20for%20you%20to%20join%20me!%20Good%20health%20should%20be%20shared.%0A%0AIt%E2%80%99s%20so%20easy%20to%20sign%20up%2C%20you%20just%20need%20to%20visit%20https%3A%2F%2Fwww.my-medyk-plan.co.uk%2Fsign-up%20and%20use%20my%20subscription%20number%20%3A%3CENTER%20YOUR%20SUBSCRIPTION%20NUMBER%3E.%0A%0AAs%20a%20thank%20you%2C%20we%E2%80%99ll%20both%20get%20a%20%C2%A320%20online%20shopping%20voucher%20when%20you%20take%20out%20a%20plan%2C%20all%20whilst%20receiving%20great%20benefits%20to%20better%20our%20health.%20Lucky%20us!%0A%0AThanks%0A" class="mt-4 bg-blue-950 text-gray-100 py-4 px-8 rounded-3xl text-lg font-semibold hover:bg-emerald-600 hover:text-white hover:cursor-pointer inline-flex items-center justify-center transition duration-300 ease-in-out">
                    Refer a Friend
                    <svg class="h-7 w-14 ml-2 transition-transform transform arrow-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 9 22 6" stroke="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="3" d="M4 12h14m-4-4l4 4-4 4"></path>
                    </svg>
                </a>
            {% else %}
                <a href="/member-portal" class="mt-4 bg-blue-950 text-gray-100 py-4 px-8 rounded-3xl text-lg font-semibold hover:bg-emerald-600 hover:text-white hover:cursor-pointer inline-flex items-center justify-center transition duration-300 ease-in-out">
                    {% if current_user.is_authenticated %}
                        Go to my health plan
                    {% else %}
                        Get a health plan
                    {% endif %}
                    <svg class="h-7 w-14 ml-2 transition-transform transform arrow-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 9 22 6" stroke="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="3" d="M4 12h14m-4-4l4 4-4 4"></path>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
</div>