<div>
    <div class="container mx-auto">
        <div class="flex flex-col gap-4">
            <div class="flex justify-center items-center">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-4/5">
                    <div class="flex flex-col p-8 drop-shadow-lg gap-8">
                        <div class="flex justify-between items-center">
                            <img class="w-1/6" src="{{ url_for('static', filename='images/checked.svg') }}" alt="Simplyhealth Logo">
                        </div>
                        <div class="text-lg">
                            Our GPs are friendly and experienced, which is why 93% of patients say the GP helped alleviate their concerns (Jan to Dec 2022).
                        </div>
                    </div>
                        <div class="flex flex-col p-8 drop-shadow-lg gap-8">
                        <div class="flex justify-between items-center">
                            <img class="w-1/6" src="{{ url_for('static', filename='images/checked.svg') }}" alt="Simplyhealth Logo">
                        </div>
                        <div class="text-lg">
                            Use your own local healthcare professional, we won’t limit who you can see.
                        </div>
                    </div>
                        <div class="flex flex-col p-8 drop-shadow-lg gap-8">
                        <div class="flex justify-between items-center">
                            <img class="w-1/6" src="{{ url_for('static', filename='images/checked.svg') }}" alt="Simplyhealth Logo">
                        </div>
                        <div class="text-lg">
                            Fast claims – payments will reach your account within days.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>