{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div class="block font-medium text-xl self-start text-gray-700">
            <h2 class="leading-relaxed"> Your Plan</h2>
            <p class="text-sm text-gray-500 font-normal leading-relaxed">Select the best plan that fits your needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
