<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Refer a Friend - My Medyk Plan</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
        <script src="{{ url_for('static', filename='js/slot-animation.js') }}"></script>
    </head>
    <body class="font-oswald text-blue-950">
        <div class="grid grid-cols-1">

            <div>
                <div class="">
                    <div class="flex flex-col items-center justify-between font-medium">
                        <div class="flex w-full justify-between py-4 bg-blue-950">
                            <div class="flex items-center gap-4 px-[5vh] w-1/5">
                                <a class="text-white" href="" target="_blank" rel="noreferrer">Help &amp; Support</a>
                            </div>
                            <div class="flex items-center justify-end gap-4 px-4 w-2/5">
                                <a  class="text-white" href="https://edigitalsurvey.com/survey/enter/s/ESV-vn23-484613806/data3/new" target="_blank" rel="noreferrer">Feedback</a>
                                {% if request.path == "/" %}
                                    {% if current_user.is_authenticated %}
                                        {% if current_user.role == "ADMIN" %}
                                            <a href="/admin-portal" class="p-2 w-[6vw] bg-medyk-purple text-white flex justify-center py-2 rounded rounded-2xl">
                                                My account
                                            </a>
                                        {% else %}
                                            <a href="/member-portal" class="p-2 w-[6vw] bg-medyk-purple text-white flex justify-center py-2 rounded rounded-2xl">
                                                My account
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="/sign-in" class="p-2 w-[6vw] bg-medyk-purple text-white flex justify-center py-2 rounded rounded-2xl">
                                            <p>My account</p>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if request.path == "/member-portal/refer-a-friend" %}
                                    {% if current_user.is_authenticated %}
                                        <a href="/member-portal" class="p-2 w-[6vw] bg-medyk-purple text-white flex justify-center py-2 rounded rounded-2xl">
                                            My account
                                        </a>
                                    {% else %}
                                        <a href="/sign-in" class="p-2 w-[6vw] bg-medyk-purple text-white flex justify-center py-2 rounded rounded-2xl">
                                            <p>My account</p>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'components/refer_a_friend_hero.html' %}
            {% include 'components/referring_a_friend_steps.html' %}
            {% set isSingular = False %}
            {% include 'components/trusted_by.html' %}
            <div class="flex items-center justify-center p-4 pb-16">
                <div class="h-0.5 bg-indigo-100 w-4/5 my-4"></div>
            </div>
            <div class="pb-16">
                {% include 'components/usp_grid.html' %}
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>