
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="bg-blue-950 w-full text-white py-8">
    <div class="container mx-auto px-4 md:px-0">
        <!-- Top Logo -->
        <div class="flex justify-start">
            <img src="/static/images/logoeps.png" alt="Your Brand Logo" class="w-[40vh] mb-4">
        </div>

        <!-- Links Section -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6 p-8">
            <!-- Column 1 -->
            <div>
                <h3 class="font-bold mb-4">Discover</h3>
                <ul>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Health Services</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Dental Options</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Virtual Consultation</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Mobile Apps</a></li>
                </ul>
            </div>

            <!-- Column 2 -->
            <div>
                <h3 class="font-bold mb-4">Company</h3>
                <ul>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">For Businesses</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">For Brokers</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Our Associates</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Media Center</a></li>
                </ul>
            </div>

            <!-- Column 3 -->
            <div>
                <h3 class="font-bold mb-4">About</h3>
                <ul>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Our Ventures</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Career Paths</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Help & FAQ</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Get in Touch</a></li>
                </ul>
            </div>

            <!-- Column 4 -->
            <div>
                <h3 class="font-bold mb-4">More Info</h3>
                <ul>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Leadership Team</a></li>
                    <li class="mb-2"><a href="#" class="hover:underline hover:text-emerald-400">Voting Members</a></li>
                </ul>
            </div>
        </div>

        <div class="flex px-8 justify-between items-center">

            <!-- Legal Links -->
            <div class="text-center">
                <ul class="flex flex-wrap justify-center gap-4">
                    <li><a href="#" class="hover:underline hover:text-emerald-400">Legal</a></li>
                    <li><a href="#" class="hover:underline hover:text-emerald-400">Privacy Policy</a></li>
                    <li><a href="#" class="hover:underline hover:text-emerald-400">Tax Strategy</a></li>
                    <li><a href="#" class="hover:underline hover:text-emerald-400">Accessibility</a></li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="mb-8 text-center">
                <ul class="flex justify-center gap-4">
                    <li><a href="#" class="hover:text-emerald-400><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" class="hover:text-emerald-400"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="hover:text-emerald-400"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="hover:text-emerald-400"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="flex items-center justify-center pb-2 px-8">
            <div class="h-0.5 bg-indigo-100 w-full my-4"></div>
        </div>

        <!-- Copyright Text -->
        <div class="px-8">
            <p>© MyMedyk 2023. All rights reserved.</p>
        </div>
    </div>
</div>
